#toolbox{
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0em;
    margin-left:   0em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 0.2em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: rgb(245, 251, 255);
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.progress0 circle{
    fill: rgb(245, 251, 255);
}
g.progress1 circle{
    fill: rgb(255, 255, 224);
}
g.progress2 circle{
    fill: rgb(210, 210, 210);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}
